pkgbase = nperf-gui-appimage
	pkgdesc = Nperf wide-area network speed test application.
	pkgver = 2.15.11
	pkgrel = 1
	arch = x86_64
	license = GPL
	depends = fuse
	provides = nperf-gui
	options = !strip
	source = https://repo.nperf.com/linux/nperf/nPerf-2.15.11-x86_64.AppImage
	md5sums = 02fd39d3c1a1805ce7f67f0b50b0d7bc

pkgname = nperf-gui-appimage
